# inflearn - pandas 데이터 분석과 시각화 뽀개기
## 참고 
- ['(Pandas cheat Sheet)'](http://pandas.pydata.org)
- ['(Daitgirls 판다스 10분완성)'](https://dataitgirls2.github.io/10minutes2pandas/)
<br><br>

## 판다스란
- pandas라이브러리는 R에서 영향을 받아 만들어졌음. 
- 주로 행과 열 데이터를 다룬다. 
- 엑셀과 유사한 기능이나 엑셀로 다룰 수 없는 대용량 데이터를 판다스로 다룰 수 있다. 
- 머신러닝이나 딥러닝을 할때 데이터를 전처리할때 이 판다스를 사용하면 장점이 많이 있다. 
- 판다스를 사용하다보면 주로 사용하는 기능을 위주로 사용한다. 

- 판다스로 내장된 matplotlib을 통해 데이터 시각화도 가능하다. 주로 시계열 데이터를 다루는데 유리하고, 다양한 데이터 시각화에 적합하다. matplotlib에서 활용하는 다양한 시각화 툴을 제공하고 있다. 
- 어떤 데이터에 어떤 시각화를 적용하면 좋을지, 같은 시각화라도 여러 옵션을 주어서 어떻게 다르게 표현할 수 있는지 배울 수 있다. 

- 판다스를 통해 데이터분석을 하고자하거나, 머신러닝, 딥러닝을 통해 데이터 전처리를 하고자하는 사람에게 도움이 될 것.
- 파이썬에서 쓸 수 있는 엑셀이라고 보면 된다.

In [1]:
# pandas를 불러와 pd라는 별칭으로 지정하여 사용하기
import pandas as pd

# Creating DataFrames_1

In [38]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1, 2, 3])   # 이 index의 리스트가 행에 들어가는 요소를 결정한다.
                        # 이 index를 따로 설정하지 않을 경우 defalult는 0부터 순차적으로 시작한다.
    
# df를 실행.
df
# 리스트 형태를 판다스에서는 시리즈라고 부른다.

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

# df 프레임에서 특정 열(coloumn)을 가져와보자.

In [4]:
# a열만 가져와보자.
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [5]:
# b열
df["b"]

1    7
2    8
3    9
Name: b, dtype: int64

In [6]:
# 여러개의 coloumn을 보고싶다면?
df[["a", "b"]]

   a  b
1  4  7
2  5  8
3  6  9

# df프레임에서 특정 행(row)를 가져와보자.

In [7]:
# 인덱스 1번 행을 가져와보자.
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [8]:
# 인덱스 3번 행을 가져와보자
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64

In [27]:
# 3번 인덱스의 a컬럼의 데이터를 보자.
# 하나의 항목만 지정하여 행열오 하나의 셀만 가져올 수도 있다.
df.loc[3, "a"]

6

In [31]:
# 행, 열 순으로. 
# 리스트로 감싸주면 여러개의 행과 열을 인덱싱하여 가져올 수 있다.
df.loc[[1, 2], ["a", "b"]]

   a  b
1  4  7
2  5  8

# Creating DataFrames_2

## Creating DataFrames_1과 같은 결과가 나온다.
### 하지만 여기에서는 column(열)을 dict형태로 지정하여 dataframe을 만들었지만 여기선 columns = ['a', 'b', 'c'] 로 따로 지정해줄 수 있다.

In [36]:
df = pd.DataFrame( [[4, 7, 10], [5, 8, 11],
          [6, 9, 12]],
         index=[1, 2, 3],
         columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

# Creating DataFrames_3

## 두 개의 인덱스를 가지는 DataFrame이다.

In [37]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
         "b" : [7, 8, 9],
         "c" : [10, 11, 12]},
        index = pd.MultiIndex.from_tuples(
            [('d',1),('d',2),('e',2)],
            names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12