# 파트2. 캐글러 대상 설문조사 데이터 시각화
## 설문조사 응답 분석 1
> [박조은님의 깃허브](https://github.com/corazzon/KaggleStruggle/tree/master/kaggle-survey-2017)

## data폴더의 파일들 
5개의 데이터 파일을 제공
-

## 환경설정
- 노트북 안에서 그래프를 그리기 위해 &matplotlib inline을 설정
- pandas, numpy, scipy, matplotlib, seaborn 라이브러리를 호출

In [1]:
# 노트북 안에서 그래프를 그리기 위해
%matplotlib inline

# Import the standard Python Scientific Libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress Deprecation and Incorrect Usage Warnings 
import warnings
warnings.filterwarnings('ignore')

### pandas라이브러리
- .head를 할 경우 상위 5개, .tail을 할 경우 하위 5개를 보여준다. 
-

In [2]:
question = pd.read_csv('data/schema.csv')
question.shape

(290, 3)

In [3]:
# question.head() 를 할 경우 상위 5개의 항목을 보여주는 반면
# question.tail() 를 할 경우 하위 5개의 항목을 보여준다. 
question.head()

             Column                                           Question Asked
0      GenderSelect     Select your gender identity. - Selected Choice   All
1    GenderFreeForm  Select your gender identity. - A different ide...   All
2           Country          Select the country you currently live in.   All
3               Age                                   What's your age?   All
4  EmploymentStatus             What's your current employment status?   All